.alt-header{
    display: flex;
    margin-bottom: 15px;
    justify-content: center;
    padding: 50px 20px 20px 20px;
    align-items: center;
   
}
.alt-header__title{
    font-size:32px;
    font-weight:600;

}
.alt-header__column:first-child{
    margin-right: auto;

}
.alt-header__column:last-child{
    margin-left: auto;

}