#no-mobile{
    position: fixed;
    z-index: 99;
    height: 100vh;
    width: 100vw;
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    top: 0;
}

@media screen and (max-width:645px){
 #no-mobile{
     display: none;

 }
 body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    }
}